@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap');

/*General*/

html {
    font-family: 'Montserrat';
    background-color: #7f5a83;
}

.bold {
    font-weight: bold;
}
.row{
    margin: 0!important;
}

/*no projeect list (no projects) */

.noproject-wrapper {
    margin-top: 250px;
    padding: 80px 0px;
    border: 6px solid #7FDBFF;
    border-style: dashed;
}

.noproject-wrapper h3 {
    padding: 10px;
    margin-bottom: 50px;
}

/*project detail stats*/
.section-stats .card-panel{
	margin: 8px;
}

.section-stats h1{
	font-size: 4vw;
	margin: 15px 0px;
}


@media(max-width: 992px){
	.section-stats h1{
		font-size: calc(16px + 6vw);

	}
}

/*project detail expanses */
.section-expanses button{
    padding: 0px 40px;
    font-weight: bold;
    text-shadow: opx 3px 4px rgba(0,0,0 .25);
    background-color:#6FCF97;
}

.section-expanses .expnse{
    font-size: 16px;
    border-radius: 0;
    margin: 0;
}

.section-expanses .expanse .category{
    font-size: 13px;
}

.section-expanses li:nth-child(even) .expanse {
    background-color: grey;
}